<!DOCTYPE html>
<html lang="en">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/views/css/aboutus.css" type="text/css" rel="stylesheet" />
        <!--change link-->

<title>Drago's Community - About and Contact Us</title>
<h1>ABOUT US</h1>

<h1>We work hard <br> So you don't <br> have to</h1>

<h2>Why Us</h2>

<p>Dragos's community is a second year university project done by a dedicated group of student.<br>
We are designed to help the local community to understand the issues they face e.g noise pollution,potholes etc.<br>
And also help them solve them.Our website is complemented by our highly social media channels, that's our personal linkedin.<br>
For any information or updates you can use our social media channels and also get to know us on a personal level.</p>

<p>Interested in giving us some feedback, contact us.</p>

<h3>CONTACT US</h3>

<p>IF you wish to get intouch with any of us or want to know more about us on the various projects we have worked on,<br>
below are our personal linkedin pages. Feel free to get intouch.</p>

<a href="https://www.linkedin.com/in/nica-dragos/">Dragos Nica</a>
<a href="https://www.linkedin.com/in/ayuko-tracy-ojwang-b80899181/">Tracy Chelsea Ayuko Ojwang</a>
<a href="https://www.linkedin.com/in/kirdu/">Kirill Dubrovskikh</a>
<a href="https://www.linkedin.com/in/evaldas-vainavicius-324590173/">Evaldas Vainavicius</a>
<a href="https://www.linkedin.com/in/tyler-mullings-clarke-755884173/">Tyler Mullings-Clarke</a>
<a href="https://www.linkedin.com/in/sridhar-chaturbedi-538a23173/">Sridhar Chaturbedi</a>
<a href="https://www.linkedin.com/in/shueb-kamil-56181b172/">Shueb Kamil</a>

</body>
</html>