<!DOCTYPE html>

<!--Dragos code-->

<html>
  <head>
    <meta charset="utf-8">
    <title>Drago's Community - Register</title>
    <script src="https://kit.fontawesome.com/d033bd47ab.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Francois+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="global.css">
  </head>
  <body id="login">
<div class="login-box">
  <h1><center>Register</center></h1>
  <form action="/register" enctype="multipart/form-data" method="post" autocomplete="off">
    <div class="textbox">
    <i class="fas fa-user"></i>
    <input type="text" name="user" placeholder="Username" value=""></p>
  </div>
  <div class="textbox">
    <i class="fas fa-map"></i>
    <input type="text" name="address" placeholder="Address" value=""></p>
  </div>
  <div class="textbox">
    <i class="fas fa-map-marker"></i>
    <input type="text" name="postcode" placeholder="Postcode" value=""></p>
  </div>
  <div class="textbox">
    <i class="fas fa-at"></i>
    <input type="text" name="email" placeholder="Email address" value=""></p>
  </div>
  <div class="textbox">
    <i class="fas fa-lock"></i>
    <input type="password" name="pass" placeholder="Password" value=""></p>
  </div>

  <input type="submit" class="buttons" value="Create">
  <a href="/login"><input type="button" class="buttons" value="Log in"></a>
</div>
</form>
  </body>
</html>

<!--Dragos code-->