body {
	background-color: rgba(132, 215, 218, 0.425);
	background-size: 100% 100%;
	font-family: "Comic Sans MS", cursive, sans-serif;
	margin: 0px;
	padding: 0px;
}

/*EVERYTHING THAT COMES IN HEADER*/
header {
	border: 4px solid yellow;
	width: 99.50%;
	height: 200px;
	background-color: white;
	padding-top: 5px;
	margin: 0px;

}

/*.Logo {
	border: 4px solid yellow;
	width: 200px;
	height: 120px;
	background-color: red;
	margin-left: 10px;
	margin-top: 20px;
} */

/*EVERYTHING THAT IS ASSOCIATED WITH THE SEARCH BAR*/

h1 {
	margin-left: 32%;
	letter-spacing: 5px;
	color: white;
	font-weight: bold;
}

.Form-box {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	background: rgba(0,0,0,0.5);
	padding: 30px; 
}

.search-field {

	height: 20px;
	padding: 10px;
	border: none;
	border-radius: 25px;
	outline: none;
}

.business {
	width: 400px;
}

.location{
	width: 200px;
}

.search-btn {
	height: 50px;
	width: 150px;
	background-color: #ffeb3b;
	color: #000;
	border-radius: 25px;
}

.search-btn:hover {
	background: #ffc107;
	cursor: pointer;
}

/*EVERYTHING THAT IS ASSOCIATED WITH TASKS*/
/*
.FlaggedTasks {
	position: absolute;
	width: 400px;
	height: 500px;
	margin: 5px;
}

.InProgress {
	position: absolute;
	width: 400px;
	height: 500px;
	margin-left: 560px;
	margin-top: 5px;
}


.Done {
	position: relative;
	width: 400px;
	height: 500px;
	margin-left: 1114px;
	margin-top: 21px;
}

.FlaggedTasks, .InProgress, .Done {

	text-align: center;
	color: red;
	font-size: 3em;
	background-color: rgba(240, 244, 245, 0.9)
} */

/* EVERYTHING THAT IS ASSOCIATED WITH FORUM PAGE */

main{
	margin-left: 15%;
	position: absolute;
	width: 70%;
	height: 100%;

}

.panel-panel-forum{
	position: absolute;
	width: 100%;
	height: 54.5%;
	height: 19.6%;
	margin: 0;
	background-color: rgb(255,255,255);
}

.d1{
	position: relative;
	width: 100%;
	height: 40px;
	margin-top: 110px;
}

.test {
	position: absolute;
	width: 100%;
	height: 54.5%;
	height: 19.7%;
	margin: 0;
	background-color: rgb(255,255,255);
}

.panel-heading{
	position: relative;
	width: 100%;
	height: 40px;
	background-color: #26BCB5;
	margin: 0;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-size: 1.2em;
	text-align: center;
	color: white;
	text-transform: uppercase;
	line-height: 2;
	letter-spacing: 2px;
}

.panel-inner {
	position: absolute;
	width: 100%;
	height: 160px;
	padding-top: 0px;
	margin-top: 0px;
}

.table {
	position: absolute;
	width: 100%;
	margin: 0;
	padding: 0;
	border-collapse: collapse;
}


.Title {
	position: relative;
	width: 70%;
	height: 40px;
	background-color: #C7CBD6;
	margin: 0;
	padding: 0;
	text-align: center;
}

.Statistics {
	position: relative;
	width: 70%;
	height: 40px;
	background-color: #C7CBD6;
	margin: 0;
	padding: 0;
	text-align: center; 
}

.Statistics, .Title {
	color: white;
	text-transform: uppercase;
	font-size: 1.1em;
	letter-spacing: 2px;
} 


/* TBODY ELEMENTS ARE STORED IN HERE */

/* TITLE WRAPPING */

.title-colm {
	position: absolute;
	width: 70%;
	height: 118px;
}

.logo {
	width: 0px;
	height: 0px;
	margin: 0px;
	padding: 0px;
}

.image {
	position: absolute;
	width: 8%;
	height: 50%;
	margin-left: 2%;
	margin-top: 1%;

}

.desc-wrapper {
	position: relative;
	width: 80%;
	height: 50%;
	margin-left: 10%;
	margin-top: 1%;

}

.forum-title{
	position: relative;
	text-align: center;
	text-decoration: none;
	color: #EB6F57;
	line-height: 2;
}

.description {
	position: relative;
	text-align: left;
	font-size: 0.8em;
	letter-spacing: 0.05em;
	color: #94A0A0;
}

/* STATISTICS WRAPPING */

.stats-colm {
	position: relative;
	width: 80%;
	height: 100%;
	background-color: #E4E9EB;
	text-align: center;
}

/* THE FLAG BUTTON */

/*
.Flags {
	position: absolute;
	width: 10%;
	height: 10%;
	margin-left: 64%;
	margin-top: 2%;
}

.flagImage {
	position: absolute;
	width: 25%;
	height: 160%;
} */
